/* Typography */

body {
	font-family: 'Roboto', serif;
  font-size: 20px;
}

@media (min-width: 576px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	margin-top: 150px;
  display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 200px;
	text-align: center;
  padding-bottom: 150px;
}

main > .intro {
	font-family: 'Playfair Display', serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	width: 2.65rem;
	height: 2.65rem;
}

i.fab:hover, i.fas:hover {
  background-color: green;
  display: inline-block;
}

i.fab, i.fas {
  color: salmon;
}

.description {
  position: static;
}

.highlighted {
  font-weight: bold;
}

.eyecatcher {
  position: relative;
  top: 50px;
}

.button {
  position: static;
  background-color: salmon;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

#interests {
  position: relative;
  top: 25px;
}

#music {
  position: relative;
  top: 65px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.caption {
  font-size: 14px;
  position: relative;
  top: 90px;
}

.media {
  position: relative;
  top: 100px;
  justify-content: center;
  text-align: center;
  display: flex;
}

#footer {
  font-size: 12px;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
}
